@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', monospace;
    margin: 0px;
}

body {
    margin: 10px 15px 10px 15px;
    animation: fadeIn ease 0.25s;
}

#audio-player {
    display: flex;
    justify-content: center;
}

#bg {
    width: 100%;
    max-width: 700px;
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    padding: 20px 0px 20px 0px;
}

.horizontal-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-center {
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#play-pause {
    margin-left: 25px;
    margin-right: 25px;
}

#play-pause > img {
    width: 53px;
}



#play-pause:hover {
    cursor: pointer;
}

#play-pause:active {
    transform: scale(0.9);
}

.seek {
    width: 27px;
    opacity: 90%;
}

.seek:hover {
    opacity: 100%;
    cursor: pointer;
}

#time-bar > div {
    font-size: 13px;
    color: rgb(186, 186, 186);
}

#range-container {
    cursor: pointer;
}

#range {
    -webkit-appearance: none;
    overflow: hidden;
    background: white;
    width: 40vw;
    max-width: 400px;
    height: 4px;
    margin: 0 10px 2px 10px;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}